*{
    font-family: 'Macondo', 'Pontano Sans',sans-serif;
    
  }
  body, html{
    background-color: rgb(100, 221, 221);
    
    
  }

  nav {
      padding: 25px;
      background-color: orangered;
      opacity: 0.90;
      margin-top: 0px;
      padding-top: 2px;
      padding-bottom: 2px;
      border-radius: 0px;
    }
    
    a {
        display: inline-block;
        width: 150px;
        padding: 0 0.1rem;
        text-decoration: none;
        font-size: 16px;
        color: white;
        background-color: orangered;
        border-radius: 4px;
       
      }
      .code_lanch li {
        display: inline-block;
        border-radius: 5px;
        margin-right: 25px;
        text-align: center;
        padding-top: 0px;
      }
      .name{
        text-align: center;
        text-shadow: 4px 4px 0 goldenrod;
        font-size: x-large;
      }
       .pro_fessional,.ski_lls{
        margin: 50px 100px;
        text-align: justify;
        font-size: x-large;
      }
      #de_gree{
        margin: 50px 100px;
        text-align: justify;
        font-size: x-large;
        
      }

      footer{
        background-color: OrangeRed;
        padding: 0 1rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        opacity: 0.90;
      
        
      }
      a:hover {
        text-decoration: none;
        color: palevioletred;
      }
      h2, .p1, .p2, .p3, .p4, .p5 {
        margin: 50px 100px;
        text-align: justify;
        font-size: x-large;
        
      }


      p, h2, h1, a {
        animation-duration: 5s;
        animation-name: slidein;
        
      }
      
      @keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%;
          
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
        
      }
      #fortuneButton{
        padding: 0.5rem;
        background-color: green;
        color:white;
        margin: 50px 100px;
      }
      #secret-button{
        background-color: darkgreen;
        color:black;
        padding: 0.5rem;
        margin: 50px 100px;
      }
      #secret-p, #motivation-p, #list, #pfortune{
        margin: 50px 100px;
        font-size: 1.5rem;

      }
      
      
      

      
      